/*Daisy Horsfall, 15405233 CYS1018*/

/*Profile Image*/
.imagecontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  height:13em;
}

.img {
  width:10em;
  height:10em;
  margin-top:2em;
  z-index: 1;
  border:solid 0.2em #ffffff;
  border-radius:0.3em;
/*+=right,-=left //// +=below -=above ///// blur 0=sharp 10=blurred ////// Spread - default=0*/#ccc;
  box-shadow: 0.6em 0.6em 1.5em 0.3em rgb(163, 163, 163);
}

/*Main Content*/
.main {
  height:24.35em;
  margin:0;
  background-color: #ffffff;
  position:static;
}

.main h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  padding-top:0.4em;
  padding-bottom:0.4em;
  margin:0;
  font-family: 'poiret one', sans-serif;
  font-size: 1.6em;
  font-weight: normal;
}

.main p {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: flex-start;
  font-family: 'poiret one', sans-serif;
  font-size: 1.2em;
}
