/*Daisy Horsfall, 15405233 CYS1018*/

/*Media Queries*/

/*When between 1 and 500px - Mobile Phone Size*/
@media (max-width:1250px) {
    body {
        display: flex;
        flex-direction: column;
        min-width: 100%
    }

  /*Header*/
    .header {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        height: auto;
    }
    .header-logo {
        display: none;
    }
    .header-navbar {
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
    .header-navbar ul {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .header-navbar-button {
        margin: 0 0.4em;
        padding: 0.2em 0.9em;
        align-items: center;
    }

/*Index - Homepage - Content*/
.index-profile-container {
    display: flex;
    position: static;
    flex-direction: column;
}
.index-profile-image {
    width: 50%;
    margin: 5% 25% 3% 25%;
}
    .index-covercontainer {
        display: none;
    }
    .index-cover-image {
        display: none;
    }

    .index-boxes-wrapper {
        display: flex;
        flex-direction: column;
    }
    .index-box {
        padding: 0;
        width: 75%;
        margin: 4% 12.5% 8% 12.5%;
        align-items: center;
    }
    /*CV Content*/
    .cv-main-content {
        height: auto;
    }
    .cv-content-wrapper {
        display: flex;
        flex-direction: column;
    }

    .cv-left-content {
        margin: 0 5%;
        padding: 0;
    }
    .cv-right-content {
        margin: 0 5%;
        padding: 0;
    }
    /*Bio Page*/
    .bio-main-content p {
        padding: 1% 7%;
        height: auto;
    }
    .bio-end-line {
        width: 75%;
    }
    .bio-image-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .bio-image-trio {
        width: 75%;
        margin: 4% 12.5% 8% 12.5%;
    }
    /*Contact Page*/
    .contact-wrap {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .contact-left-content {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .contact-left-content p {
        width: 75%;
        margin: 0 12.5%;
        padding: 0 0 5% 0;
    }
    /*Contact Form*/
    .contact-static-form {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: center;
    }
    .contact-form-basic-field {
        display: flex;
        flex-direction: column;
        width: 74.5%;
        padding-left: 0;
        margin: 0 0 5% 0;
    }
    .contact-form-message-field {
        width: 100%;
        width: 72%;
    }
    .contact-form-send-button {
        margin-bottom: 10%;
    }
    .contact-right-content {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .contact-right-content ul {
        display: flex;
        padding: 5% 0 5% 0;
        margin: 0;
    }
      .contact-map {
          display: flex;
          padding: 0;
          margin: 0 12.5% 10% 12.5%;
          width: 75%;
    }
}
