/*Media Queries*/

@media (max-width:400px) {
    body {
        display: flex;
        flex-direction: column;
    }
    .header {
        display: flex;
        flex-direction: column;
        margin: 0;
    }


    
}
