/*Daisy Horsfall, 15405233 CYS1018*/

/*Body*/
body {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

/*Used by every page*/
/*Header, Logo and Navigation Bar*/
.header {
    display: flex;
    flex-direction: row;
    z-index: 1;
    background-color: #00BCD4;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0.2em 0.2em 0.4em 0.2em rgb(60, 60, 60);
}

.header-logo-link {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 10% 0 5%;
}

.header-navbar {
    display: flex;
    margin: 0 0 0 35%;
    font-family: 'poiret one', sans-serif;
}

.header-navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 1.5em;
}

.header-navbar-button {
    margin: 2% 15%;
}

.header-navbar a:link {
    color: #ffffff;
    text-decoration: none;
}

.header-navbar a:visited {
    color: #ffffff;
    text-decoration: none;
}

.header-navbar a:hover {
    color: #607D8B;
    text-decoration: none;
    font-weight: bold;
}

/*Footer and Social Media Links*/
.footer {
    width: 100%;
    height: 100%;
    background-color: #4DD0E1;
    padding: 0;
    margin: 0;
    box-shadow: 0 -0.4em 0.7em 0 rgb(60, 60, 60);
}

.footer-social-media-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-social-media-facebook {
    margin-top: 50%;
    height: 30%;
    padding:0;
}

.footer-social-media-twitter {
    margin-top: 50%;
    height: 30%;
    padding:0;
}

.footer-social-media-linkedin {
    margin-top: 50%;
    height: 30%;
    padding:0;
}


/*Index - Homepage - Content*/
.index-profile-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    z-index: 1;
    position: absolute;
}

.index-profile-image {
    width: 17%;
    margin-left: 60%;
    margin-top: 3%;
    border: solid 0.2em #ffffff;
    border-radius: 0.3em;
    box-shadow: 0.2em 0.2em 0.4em 0.2em rgb(60, 60, 60);
}

.index-cover-container {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.index-cover-image {
    display: flex;
    justify-content: center;
    width: 100%;
    box-shadow: 0.2em 0.2em 0.4em 0.2em rgb(60, 60, 60);
}

.index-boxes-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    z-index: -1;
}

.index-box {
    background-color: #fff;
    height: 10%;
    width: 25%;
    margin: 2em 4em 2.66em 4em;
    border: 0.1em solid #607D8B;
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    border-radius: 0.5em;
    text-align: center;
    box-shadow: 0.2em 0.2em 0.4em 0.2em rgb(60, 60, 60);
}

.index-box p {
    padding: 5% 10%;
}

.index-box a:link {
    text-decoration: none;
    color: #00BCD4;
}

.index-box a:visited {
    text-decoration: none;
    color: #00BCD4;
}


/*CV Content*/

.cv-main-content {
    margin: 0;
    background-color: #ffffff;
}

.cv-main-content h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poiret One", sans-serif;
    font-weight: normal;
}

/*CV Section Wrapper*/
.cv-content-wrapper {
    display: flex;
    flex-direction: row;
}


/*CV Left Side Content*/
.cv-left-content {
    margin: 0;
    padding-left: 4em;
    padding-right: 4em;
    background-color: #ffffff;
    align-items: flex-start;
}

.cv-left-content h3 {
    font-family: "Poiret One", cursive;
    font-weight: bold;
    font-size: 1.3em;
    padding: 1em 0 0 0;
    margin-bottom: 0;
}

.cv-full-name {
    font-weight: normal;
    font-size: 1em;
    padding: 0;
}

.cv-left-content h6 {
    font-family: "Poiret One", cursive;
    margin-top: 0;
    padding-top: 0;
    font-weight: bold;
    margin-left: -1em;
    font-size: 1em;
}

.cv-left-content p {
  font-family: "Poiret One", cursive;
  font-weight: bold;
  margin-left: -1em;
  text-align: justify;
  font-size: 0.8em;
  margin: 0;
}

.cv-education-course {
    font-family: "Poiret One", cursive;
    font-weight: bold;
    margin-left: -1em;
    text-align: justify;
    font-size: 0.8em;
}

.cv-course-date {
    list-style-type: none;
    padding-bottom: 0.9em;
    margin-left: -1em;
    font-size: 0.8em;
}


/*CV Right Side Content*/

.cv-right-content {
    margin: 0;
    padding: 0 3em 0 3em;
    background-color: #ffffff;
    align-items: flex-start;
}

.cv-right-content h3 {
    font-family: "Poiret One", cursive;
    font-weight: bold;
    font-size: 1.3em;
    padding: 1em 0 0 0;
    margin-bottom: 0;
}

.cv-right-content p {
    font-family: "Poiret One", cursive;
    font-weight: normal;
}

.cv-right-content ul {
    column-count: 2;
    column-gap: 2.5em;
    list-style-type: circle;
    font-family: "Poiret One", cursive;
    font-size: 1.2em;
    margin: 0;
}

/*Bio Content*/

.bio-main-content {
    margin: 0;
    background-color: #ffffff;
}

.bio-main-content h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poiret One", sans-serif;
    font-weight: normal;
    margin-top: 1em
}

.bio-main-content p {
    display: flex;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 0.2em;
    justify-content: center;
    text-align: center;
    font-size: 1.3em;
    font-family: "Poiret One", cursive;
    font-weight: normal;
}

.bio-end-line {
    display: flex;
    justify-content: center;
    color: #00BCD4;
    margin-bottom: 2em;
    margin-top: 2.05em;
    width: 40em;
}

.bio-image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.7em 5em 2.8em 5em;
}

.bio-image-trio {
    border: solid 0.2em #ffffff;
    border-radius: 0.3em;
    box-shadow: 0.2em 0.2em 0.4em 0.2em rgb(60, 60, 60);
}


/*Contact Content*/
.contact-main-content {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.contact-main-content h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poiret One", sans-serif;
    font-weight: normal;
}

/*Contact Section Wrapper*/
.contact-wrap {
    display: flex;
    flex-direction: row;
    margin-right: 13em;
    margin-left: 5em;
}


/*Contact Left Side Content*/
.contact-left-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;
}

.contact-left-content p {
    display: flex;
    margin: -0.5em 8em 0 3em;
    text-align: center;
    font-family: 'poiret one', sans-serif;
    font-size: 1.2em;
}


/*Contact Left Side Static Form*/

.contact-static-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8em;
    margin-top: 1em;
}

.contact-form-basic-field {
    font-family: "Poiret One";
    font-size: 1.2em;
    width: 15.5em;
    padding-left: 0.5em;
    margin-bottom: 1em;
    border: solid 0.2em #ffffff;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgb(60, 60, 60);
}

.contact-form-message-field {
    font-family: "Poiret One";
    font-size: 1.2em;
    width: 15.5em;
    padding-left: 0.5em;
    height: 9em;
    margin-bottom: 1em;
    border: solid 0.2em #ffffff;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgb(60, 60, 60);
}

.contact-form-send-button {
    font-family: "Poiret One";
    font-size: 1em;
    height: 2em;
    width: 4em;
    color: black;
    font-weight: bold;
    background-color: #607D8B;
    border: 0.1em solid;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgb(60, 60, 60);
}

.contact-form-send-button:hover {
    color: black;
    font-weight: bold;
    border: 0.1em solid #607D8B;
    background-color: #afbec5;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgb(60, 60, 60);
}


/*Contact Right Side Content*/

.contact-right-content {
    background-color: #ffffff;
    margin-top: -1.5em;
}

.contact-right-content ul {
    display: flex;
    flex-direction: column;
    font-family: 'poiret one', sans-serif;
    font-size: 0.9em;
    text-align: center;
}

.contact-other-details {
    list-style-type: none;
    font-size: 1.3em;
    padding-bottom: 0.2em;
    font-weight: bold;
}

.contact-details {
    font-size: 1.3em;
    padding-bottom: 0.2em;
    list-style-type: none;
    font-weight: li
}

.contact-map {
    margin-left: 3em;
    width: 16em;
    border: solid 0.2em #ffffff;
    border-radius: 0.3em;
    box-shadow: 0.2em 0.2em 0.4em 0.2em rgb(60, 60, 60);
}
